extends layout

block content
  h1 Nueva Matricula
  p Alta de nueva asignatura
  form(id="newAsignatura")
    label(for='nombre') Nombre:
    br
    input(type='text' name='nombre')
    br
    label(for='numHoras') Numero de horas:
    br
    input(type='text' name='numHoras')
    br
    label(for='docente') Docente:
    br
    select(name='docente')
      each docente in docentes
        option(value=docente.nombre) #{docente.nombre} #{docente.apellido}
    br
    each alumno in alumnos
      input(type='checkbox' name='alumnos' value=alumno.nombre) 
      |  #{alumno.nombre} #{alumno.apellido}
      br
    input(type="submit" value="submit")

